<div class="grid place-items-center ">
    <h5 class="text-xl ">Menú rápido</h5>
    <ul class="list-none text-white ">
        <li class="pb-2 hover:bg-[#4d232d]"><a href=" index.html ">Inicio</a></li>
        <li class="pb-2 hover:bg-[#4d232d]"><a class="pb-2 " href="miembros.html">Miembros</a></li>
        <li class="pb-2 hover:bg-[#4d232d]"><a href=" ">Noticias</a></li>
        <li class=" hover:bg-[#4d232d]"><a href=" ">Contacto</a></li>
    </ul>
</div>
<div class="grid place-items-center ">
    <h5 class="text-xl ">Desarrollado por Javier Parellada González</h5>
</div>